:root{
    --hero_but_color: #161616;
    --base_white_text:#FFFFFF;
    --cards_back_color: #D3F5FE;
    --interactble_butns: orange;
    --manrope: 'Manrope', sans-serif;
    --date_color:#FBF1D6;
}
*{
    font-family: var(--manrope);
}
body {
    margin: 0 auto;
    padding: 0px 20px;
}

header {
    display: flex;
    height: 66px;
}

nav {

    display: flex;
    height: 40px;

}

.burger,
.burger::after,
.burger::before {
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100%;
    position: absolute;
    text-align: center;
    justify-items: center;
    

}

.burger {
    top: 50%;
}

.burger::before {
    top: -12px;
}

.burger::after {
    top: 12px;
}

.menu_butn {
    display: block;
    width: 30px;
    z-index: 101;
    height: 40px;
    position: relative;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    
}

.nav_list {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    z-index: 100;
}

.nav_link {
    text-decoration: none;
    color:var(--hero_but_color);
}

.contact{
    border: var(--hero_but_color) 1px solid;
    border-radius: 100px;
    padding: 2px;
    
}

#check_menu {
    display: none;
}

#check_menu:checked~.nav_list {
    display: grid;
    background-color: var(--base_white_text);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

}

#check_menu:checked~.menu_butn .burger {
    transform: rotate(45deg);
}

#check_menu:checked~.menu_butn .burger::before {
    top: 0;
    opacity: 0;
}

#check_menu:checked~.menu_butn .burger::after {
    top: 0;
    transform: rotate(90deg);
}
.burger_cont{
    margin-top: 10px;
    
}
.logo_cont2{
    display: none;
}
.logo_cont{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 30px;
}
.logo_cont img {
    width: 24px;
    height: 26px;
    margin-right: 10px;
}

.logo {
    margin: 0 auto; 
    font-size: 18px ;
    align-self: center;
}
.hero{
    text-align: center;
}
.hero_title{
    text-align: center;
    font-size: 32px;
    margin: 20px;
}
.hero_text{
    text-align: center;
    font-size: 18px;
    margin: 20px;
}
.hero_button{
    color:var(--base_white_text) ;
    background-color: var(--hero_but_color);
    text-align: center;
    border-radius: 100px;
    width: 178px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 20px;
}
.hero_img{
    width: 100%;
    height: 300px;
    background-image: url(./img/hero_pict.webp);
    background-size: cover;
    border-radius: 25px;
    margin-bottom: 60px;
}
.features{
    text-align: center;
}
.features_title{
    font-size: 26px;

}
.features_text{
    font-size: 16px;
    margin-bottom: 40px;
}
.features_img{
    background-image: url(./img/features_pict.webp);
    height: 300px;
    width: 100%;
    
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 20px;
    padding-top: 85%;
    display: flex;  
    
    
}
.features_card{
    background-color: var(--cards_back_color);
    width: 90%;
    border-radius: 25px;
    justify-self: center    ;
    padding: 21px 20px;
    
}
.features_card p{
    margin: 0 auto;
}
.img_text{
    color: var(--base_white_text);
    margin-right: 50px;
    
}
.bi-arrow-up-right-circle-fill{
    color: var(--interactble_butns);
    background-color: var(--base_white_text);
    height: 23px;
    border-radius: 550px;
    line-height: 0px;
    width: 23px;
    font-size: 24px;
}
.gradient{
    border-radius: 16px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.492));
    justify-content: center;
}
.features_img2{
    background-image: url(./img/features_pict2.webp);
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 20px;
 
}
.features_img3{
    background-image: url(./img/features_pict3.webp);
    height: 300px;
    width: 100%;
    justify-content: center;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 20px;
    padding-top: 45%;
    display: flex;  
    
}
.bi-play-circle-fill{
    color: var(--interactble_butns);
    background-color: var(--base_white_text);
    background-size: auto;
    height: 36px;
    border-radius: 550px;
    line-height: 0px;
    font-size: 37px;
}
.gradient2{
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 8px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.399),rgba(0, 0, 0, 0) );
    color: var(--base_white_text);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: start;
    gap: 220px;
}

.mission{
    text-align: center;
}
.mission_img{
    margin-top: 60px;
    background-image: url(./img/mission_pict.webp);
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 20px;
}
.mission_but{
    color: var(--hero_but_color);
    background-color: var(--base_white_text);
    text-align: center;
    border-radius: 100px;
    width: 178px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 20px;  
    margin-top: 4px;  
}
.offers{
    text-align: center;
}
.arrows_cont{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 40px;
}
.arrows{
    border: solid 1px var(--hero_but_color);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    font-size: 24px;
}
.offers_img{
    background-image: url(./img/offers_pict.webp);
    height: 300px;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 20px;
}
.date{
    background-color: var(--date_color);
    border-radius: 27px;
    width: 110px;
    justify-self: center;
    font-weight: 700;
    height: 38px;
    line-height: 38px;
    margin-bottom: 8px;
}

.offers_info{
    width: 95%;
    margin: 0 auto;
}
.offers_title{
    font-size: 18px;

}

.offers_text{
    margin-bottom: 12px;
}
.offers_price{
    margin-top: 4px;
}
.price_text{
    margin: 0 auto  ;
}

@media (min-width: 768px){

    body{
        padding: 0 100px;
    }
.menu_butn {
    display: none;
}

#check_menu {
    display: none;
    opacity: 0;
}
.nav_list{
    display: flex;
    top: 0;
    flex-direction: row;
    gap: 25%;
    padding: 40px 100px 70px 100px;
}
.logo_cont{
    display: none;
}
.logo_cont2{        
    display: flex;
    min-width: 100px;
}
.logo_cont2 img{
    width: 20px;
    height: 23px;
}
.column1{
    grid-area: column1;
    display: flex;
    gap: 32px;
    min-width: 292px;
}
.column2{
    grid-area: column2;
    display: flex;
    gap: 32px;
    min-width: 335px;
}
.hero{
    margin-top: 70px ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.hero_title_cont{
    display: flex;
}
.hero_img{
    height: 500px;
    background-size: cover;
}
.hero_title{
    font-size: 72px;
    width: 80%;
    text-align: start;
    margin-right: 44px;
}
.hero_text{
    font-size: 24px;
    text-align: start;
}
.hero_text_cont{
    width: 50%;
}

}